@model Araba.Models.Login
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3">
            <br>
            <!-- Filtreleme Kısmı -->
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header" style="text-align:center">ARABA FİLTRELEME</div>
                <div class="card-body">
                    <form class="row">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">En Az :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="En Az (Fiyat)">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">En Çok :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="En Çok (Fiyat)">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Şehir :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Şehir">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Durum :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Durum">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Marka :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Marka">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Model :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Model">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary col-12"><i class="bi bi-funnel"></i> FİLTRELE</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giriş Formu</li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Kullanıcı Adı :</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Şifre :</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success col-6"><i class="bi bi-box-arrow-in-right"></i> Giriş</button>
                        </div>
                    </div>

                }

            </div>
        </div>

    </div>
</div>

