@model IEnumerable<Araba.Models.Ilan>
@{ int i = 0;}
@foreach (var item in Model)
        {
            i++;
            var c = 1;
            var active = i == 1 ? "active" : "";
<div class="carousel-item @active">
    @foreach (var rsm in ViewBag.imgs)
                {
                    if (rsm.IlanId == item.IlanId)
                    {
                        if (@c == 1)
                        {
                            c++;
                            <a href="/Home/Detay/@item.IlanId"><img src="/Content/images/@rsm.ResimAd" class="d-block w-100" alt="..." height="450" style="border-radius: 20px"></a>
            }
    }

    }

</div>

}
