
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="~/Content/hakkimizda/style.css">
</head>
<body>
    <br />
    <section class="about-us">
        <div class="about">
            <img src="~/Content/images/yasirphoto.jpg" width="470" style="border-radius:25px" />
            <div class="text">
                <h2>Hakkımızda</h2>
                <h5>Bilgisayar Mühendisliği Öğrencisi</h5>
                <p>
                    Ben Yasir Kaş. 2002 Yalova doğumluyum. Çocukluktan beri bilgisayara hep ilgiliydim dolayısıyla iyi bir bilgisayar kullanıcısıyım. Çocukluğumda oynadığım oyunların bile benim gelişimimde katkısı olmuştur. Bunların neticesinde Sakarya Uygulamalı Bilimler Üniversitesi'nde Bilgisayar Mühendisliği kazandım. Şu an 3. sınıfım. Kendimi de front-end ve back-end kısmında geliştirmeye çalışıyorum. Bu sitede ise online araba al-sat yapabileceğiniz bir site tasarladım.
                </p>
                <div class="data" style="text-align:center">

                    <b>Github Adresim</b>
                    <br />
                    <a href="https://www.github.com/yasirkas" target="_blank"><img src="~/Content/images/icons/githublogo.png" width="50" /></a>

                </div>

            </div>

        </div>
    </section>
</body>
</html>
