
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://unpkg.com/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<section class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row gy-5 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid rounded" loading="lazy" src="~/Content/faq/faq-img-1.png" alt="How can we help you?">
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <h2 class="h1 mb-3">Sıkça Sorulan Sorular</h2>
                        <div class="accordion accordion-flush" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Nasıl ilan vereceğim?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>İlan vermek Kaş Otomotiv'de çok kolay..</p>
                                        <ul>
                                            <li>Önce siteye üye olunuz.</li>
                                            <li>Sonra sağ üstteki "İlan Ver" butonuna tıklayınız.</li>
                                            <li>Artık ilan verebilirsiniz!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Siteniz güvenilir mi?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Sitemiz müşteriyi korumaya yönelik ve son derece güvenlidir.</li>
                                            <li>Araba al-sat işlemlerinizde sitemiz tüm önlemleri almıştır.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Profil bilgilerimi nasıl değiştireceğim?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Önce siteye giriş yapınız.</li>
                                            <li>Sonra sağ üstte Profilim seçeneğine tıklayınız.</li>
                                            <li>Artık profilinizde istediğiniz şeyleri değiştirebilirsiniz!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




